
@charset "utf-8";


/* 1. Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


/* 2. Body and Some General Stuff */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    background: #ffffff;
    color: #1e1e27;
}

div{
    display: block;
    position: relative;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin-bottom: 0px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
    color: #989898;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
p a{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 2px #fde0db;
    transition: all 200ms ease;

}
a, a:hover, a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
p a:active{
    position: relative;
    color: #ff6347;
}
p a:hover{
    color: #ff6347;
    background: #fde0db;
}
p a:hover::after{
    opacity: 0.2;
}
::selection{
    background: #fde0db;
    color: #ff6347;
}
p::selection{
    background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 40px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6{
    color: #282828;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
.trans_300{
    transition: all 300ms ease;
}
::input-placeholder{
    font-size: 16px !important;
    font-weight: 500;
    color: #777777;
}
.clearfix::before, .clearfix::after{
    content: "";
}
.clearfix::after{
    clear: both;
}
.clearfix{
    zoom: 1;
}
.super_container{
    width: 100%;
    overflow: hidden;
}
.fill_hight{
    height: 100%;
}

/* 3. Home */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 10;
}

/* 3.1 Main Navigation */


.main_nav_container{
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 16 rgba(0, 0, 0, .015);
}
.sidebar{
	box-shadow: 10px 10px 5px lightgrey;
}
.navbar{
    width: auto;
    height: 100px;
    text-align: left;
    padding-left: 150px;
    padding-right: 0px;
}
.navbar_menu li{
    display: inline-block;
}
.navbar_menu li a{
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover{
    color: #b5aec4;
}
.search{
	max-width: 800px;
	margin-left: 50px;
}
.navbar_daftar{
    margin-left: 37px;
    padding-right: 0px;
}
.navbar_daftar li{
    display: inline-block;
}
.navbar_daftar li a{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar_daftar li a:hover{
    color: #b5aec4;
}
.navbar_login{
    margin-left: 37px;
    padding-right: 0px;
}
.navbar_login li{
    display: inline-block;
}
.navbar_login li a{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar_login li a:hover{
    color: #b5aec4;
}
.checkout{
    color: #b5aec4;
}
.checkout a{
    background: #eceff6;
    border-radius: 50%;
}
.checkout_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #fe4c50;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
/* 3.2 Logo */
.logo_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.logo_container a{
    font-size: 20px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}
.logo_container a span{
    color: #fe4c50;
}

/* 3.3 Main Slider */
.main_slider{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
}
.main_slider_content{
    width: 60%;
}
.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.main_slider_content h1{
    font-weight: 400;
    line-height: 1;
}
.red_button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.red_button a{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}
.red_button:hover{
    background: #fe7c7f;
}
.shop_now_button{
    width: 140px;
    margin-top: 32px;
}

/* 4. Banner */

.banner{
    width: 100%;
    margin-top: 30px;
}
.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner_category{
    height: 50px;
    background: #ffffff;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
}
.banner_category a{
    display: block;
    color: #1e1e27;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
.banner_category a:hover{
    color: #b5aec4;
}

/* New Arrival */
.new_arrivals{
    width: 100%;
}
.new_arrivals_title{
    margin-top: 74px;
}
.new_arrivals_sorting{
    display: inline-block;
    border-radius: 3px;
    margin-top: 59px;
    overflow: visible;
}
.grid_sorting_button{
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 3px;
    margin: 0;
    float: left;
    margin-left: -1px;
}
.grid_sorting_button:first-child{
    margin-left: 0px;
}
.grid_sorting_button.active{
    color: #ffffff;
    background: #fe4c50;
}
.grid_sorting_button.active:hover{
    background: #fe7c7f;
}
/* 5.2 New Arrival Grid */
.product-grid{
    width: 100%;
    margin-top: 57px;
}
.product-item{
    width: 20%;
    height: 380px;
    cursor: pointer;
}
.product-item::after{
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: '';
    border: solid 2px rgba(235, 235, 235, 0);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.product-item:hover::after{
    box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
    border: solid 2px rgba(235, 235, 235, 1);
}
.product{
    width: 100%;
    height: 340px;
    border-right: solid 1px #e9e9e9;
}
.product_image{
    width: 100%;
}
.product_image img{
    width: 100%;
}
.product_info{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_name{
    margin-top: 27px;
}
.product_name a{
    color: #1e1e27;
    line-height: 20px;
}
.product_name:hover a{
    color: #b5aec4;
}
.discount .product_info .product_price{
    font-size: 14px;
}
.product_price{
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
}
.product_price span{
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
.product_bubble{
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}
.product_bubble span{
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}
.product_bubble_right::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;

}
.product_bubble_left::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_red::after{
    border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after{
    border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red{
    background: #fe4c50;
}
.product_bubble_green{
    background: #51a042;
}
.product_bubble_left{
    left: 15px;
}
.product_bubble_right{
    right: 15px;
}
.add_to_cart_button{
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.add_to_cart_button a{
    font-size: 12px;
    font-weight: 600;
}
.product-item:hover .add_to_cart_button{
    visibility: visible;
    opacity: 1;
}
.favorite{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b9b4c7;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}
.favorite_left{
    left: 15px;
}
.favorite.active{
    visibility: visible;
    opacity: 1;
}
.product-item:hover .favorite{
    visibility: visible;
    opacity: 1;
}
.favorite.active::after{
    font-family: 'FontAwesome';
    content: '\f004';
    color: #fe4c50;
}
.favorite::after{
    font-family: "FontAwesome";
    content: '\f08a';
}
.favorite:hover::after{
    color: #fe4c50;
}

/* 6. Deal Of The Week */
.deal_ofthe_week{
    width: 100%;
    margin-top: 41px;
    background: #f2f2f2;
}
.deal_ofthe_week_img{
    height: 540px;
}
.deal_ofthe_week_img img{
    height: 100%;
}
.deal_ofthe_week_content{
    height: 100%;
}
.section_title{
    display: inline-block;
    text-align: center;
}
.section_title h2{
    display: inline-block;
}
.section_title::after{
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: '';
}
.timer{
    margin-top: 66px;
}
.timer li{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 10px;
}
.timer li:last-child{
    margin-right: 0px;
}
.timer_num{
    font-size: 48px;
    font-weight: 600;
    color: #fe4c50;
    margin-top: 10px;
}
.timer_unit{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #51545f;
}
.deal_ofthe_week_button{
    width: 140px;
    background: #1e1e27;
    margin-top: 52px;
}
.deal_ofthe_week_button:hover{
    background: #2b2b34 !important;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* ***************************Responsive************************************************ */


@media only screen and (max-width: 1199px){



}

@media only screen and (max-width: 991px){
 


}

@media only screen and (max-width: 767px){

    
}
@media only screen and (max-width: 575px){
 
    
}

@media only screen and (max-width: 479px){
   
}

